<% provide(:title,"About") %>
<h1>About</h1>
<p>
  This web application is being built by Casey Melucci. Please check out
  my <a href="http://gitlab.com/Horizon_Bound"><em>Gitlab profile
  </em></a> to keep up to date on my progress!
</p>
  